<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Efactura</title>
<meta name="description" content="" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/efactura.css">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
</head>
<body>

	<nav
		class="container-fluid navbar navbar-expand-sm bg-dark navbar-dark"
		style="padding-left: 75px; margin-top: -16px;">
		<span class="navbar-brand mb-0 h1">Efactura</span>
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link active"
				style="padding-left: 200px;" href="/">Inicio</a></li>
			<li class="nav-item"><a class="nav-link"
				style="padding-left: 30px;" href="client">Clientes</a></li>
			<li class="nav-item"><a class="nav-link"
				style="padding-left: 30px;" href="#">Facturas</a></li>
			<li class="nav-item"><a class="nav-link"
				style="padding-left: 30px;" href="#">Configuración</a></li>
		</ul>
	</nav>

	<div class="container">
		<div class="content">
			<div layout:fragment="page_content"></div>
		</div>
	</div>
	<!-- /.container -->

	<script>
		$('.navbar-nav .nav-link').click(function() {
			$('.navbar-nav .nav-link').removeClass('active');
			$(this).addClass('active');
		})
	</script>

	<th:block layout:fragment="scripts">
	</th:block>
</body>

</html>