<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/shared/layout}">

<head>
<title>Clientes</title>
</head>

<div layout:fragment="page_content" id="page_content">

	<h1>
		<div>
			<div style="float: left">Clientes</div>
			<div style="float: right">
				<button class="btn btn-primary btn-lg" data-toggle="modal"
					data-target="#modalForm" id="add">Añadir</button>
			</div>
		</div>
	</h1>

	<div class="modal fade" id="modalForm" tabindex="-1" role="dialog"
		aria-labelledby="modalFormLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="modalForm" action="#" th:action="@{/client}"
					th:object="${client}" method="post">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title" id="modalFormLabel"></h4>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span> <span class="sr-only">Cerrar</span>
						</button>
					</div>

					<!-- Modal Body -->
					<div class="modal-body">
						<input type="hidden" class="form-control" th:field="*{id}"/>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nombre
								fiscal</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{name}" placeholder="Nombre fiscal" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nif/Cif</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{cif}" placeholder="Nif/Cif" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Dirección</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{address}" placeholder="Dirección" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Localidad</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{location}" placeholder="Localidad" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Provincia</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{province}" placeholder="Provincia" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Código
								postal</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{postalCode}" placeholder="Código postal" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">País</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{country}" placeholder="País" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Teléfono</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{telephone}" placeholder="Teléfono" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{email}" placeholder="Email" />
								</div>
							</div>
						</div>

					</div>

					<!-- Modal Footer -->
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Guardar</button>
					</div>

				</form>
			</div>
		</div>
	</div>

	<table id="clientTable" class="display" style="width: 100%">
		<!-- Header Table -->
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre fiscal</th>
				<th>Cif</th>
				<th>Dirección</th>
				<th>Localidad</th>
				<th>Provincia</th>
				<th>Código postal</th>
				<th>País</th>
				<th>Teléfono</th>
				<th>Email</th>
				<th>Acciones</th>
			</tr>
		</thead>
	</table>

</div>

<div layout:fragment="scripts" id="scripts">
	<script>
		activeMenu($('.navbar-nav .nav-link')[1]);
	</script>
	<script src="/efactura/js/clientdatatable.js"></script>
</div>