<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/shared/layout}">

<head>
<title>Configuración</title>
</head>

<div layout:fragment="page_content" id="page_content">

	<h1>
		<div>
			<div style="float: left">Configuración</div>
		</div>
	</h1>


	<div class="modal-dialog">
		<div class="modal-content">
		
			<form id="upload-file-form">
				<div class="modal-body">
					<div class="form-group">
						<label class="btn btn-primary">
						    Seleccionar logo <input type="file" id="logo" hidden>
						</label>
						<img id='img-upload' style="height: 100px; widows: 100px" th:src="@{'data:image/jpeg;base64,'+${logo}}"/>
				    </div>
			    </div>
		  	</form>

			<form id="modalForm" action="#" th:action="@{/user}"
				th:object="${user}" method="post">


				<!-- Modal Body -->
				<div class="modal-body">
					<div class="form-group">
						<label for="email" class="cols-sm-2 control-label">Email</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<input type="text" class="form-control" th:required="required"
									th:field="*{email}" placeholder="Email" />
							</div>
						</div>
					</div>
					<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nombre
								fiscal</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{name}" placeholder="Nombre fiscal" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nif/Cif</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{cif}" placeholder="Nif/Cif" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Dirección</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{address}" placeholder="Dirección" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Localidad</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{location}" placeholder="Localidad" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Provincia</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{province}" placeholder="Provincia" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Código
								postal</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{postalCode}" placeholder="Código postal" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">País</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{country}" placeholder="País" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Teléfono</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<input type="text" class="form-control" th:required="required"
										th:field="*{telephone}" placeholder="Teléfono" />
								</div>
							</div>
						</div>

				</div>

				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>

			</form>

		</div>
	</div>


</div>

<div layout:fragment="scripts" id="scripts">
	<script>
		$("#logo").change(function(){
			uploadFile(this);
		}); 
		/**
	     * Upload the file sending it via Ajax at the Spring Boot server.
	     */
	    function uploadFile(input) {
	    	if (input.files && input.files[0]) {
	    		$.ajax({
	    	        url: "/uploadFile",
	    	        type: "POST",
	    	        data: new FormData($("#upload-file-form")[0]),
	    	        enctype: 'multipart/form-data',
	    	        processData: false,
	    	        contentType: false,
	    	        cache: false,
	    	        success: function () {
	    	        	var reader = new FileReader();
	    		        
	    		        reader.onload = function (e) {
	    		            $('#img-upload').attr('src', e.target.result);
	    		        }
	    		        
	    		        reader.readAsDataURL(input.files[0]);
	    		        
	    	        	$.confirm({
	    	    		    title: '',
	    	    		    content: 'Logo almacenado correctamente',
	    	    		    type: 'green',
	    	    		    typeAnimated: true,
	    	    		    autoClose: 'cerrar|8000',
	    	    		    buttons: {
	    	    		        cerrar: function () {
	    	    		        }
	    	    		    }
	    	    		});
	    	        },
	    	        error: function () {
	    	        	$.confirm({
	    	    		    title: '',
	    	    		    content: 'Se ha producido un error almacenado correctamente',
	    	    		    type: 'red',
	    	    		    typeAnimated: true,
	    	    		    autoClose: 'cerrar|8000',
	    	    		    buttons: {
	    	    		        cerrar: function () {
	    	    		        }
	    	    		    }
	    	    		});
	    	        }
	    	      });
		    }
		}
	</script>
</div>